AmbulanceDeployment.jl-legacy/Manifest.toml
AmbulanceDeployment.jl-legacy/Manifest.toml
AmbulanceDeployment.jl-legacy/Project.toml
AmbulanceDeployment.jl-legacy/Project.toml
AmbulanceDeployment.jl-legacy/Project.toml
Input_Data
Output_Data
.csv
*.toml
AmbulanceDeployment.jl-legacy/Manifest.toml
*.csv
AmbulanceDeployment.jl-legacy/Manifest.toml
AmbulanceDeployment.jl-legacy/Project.toml
*.toml
.ipynb_checkpoints
*/.ipynb_checkpoints/*
AmbulanceDeployment.jl-legacy/test/austin-data/Austin_Data_big/team_stats.jld
*.zip
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.csv
Input_Data\xinyu
Data_Preprocessing/Input_Data/xinyu_shape_file/Travis_tracts.cpg
Data_Preprocessing/Input_Data/xinyu_shape_file/Travis_tracts.dbf
Data_Preprocessing/Input_Data/xinyu_shape_file/Travis_tracts.prj
Data_Preprocessing/Input_Data/xinyu_shape_file/Travis_tracts.shp
Data_Preprocessing/Input_Data/xinyu_shape_file/Travis_tracts.shx
Data_Preprocessing/Output_Data/temporal_distribution.png
Data_Preprocessing/Output_Data/xinyu_fips_2_region.json
Data_Preprocessing/plot_call_temporal_distribution.ipynb
Data_Preprocessing/seconds_to_minutes.ipynb
Data_Preprocessing/train_test_split_hourly_calls.ipynb
Data_Preprocessing/xinyu.ipynb
Input_Data/grid_info_multiple.json
Input_Data/grid_info_smaller.json
Input_Data/grid_info_smaller_2018.json
Input_Data/grid_info_smaller_2018_fips.json
Input_Data/grid_info_smaller_scaled.json
Input_Data/old_grid.kml
Input_Data/xinyu_shape_file/Travis_tracts.cpg
Input_Data/xinyu_shape_file/Travis_tracts.dbf
Input_Data/xinyu_shape_file/Travis_tracts.prj
Input_Data/xinyu_shape_file/Travis_tracts.shp
Input_Data/xinyu_shape_file/Travis_tracts.shx
Output_Data/temporal_distribution.png
Output_Data/xinyu_fips_2_region.json
*.csv
Data_Preprocessing/geoid_min_avg_times_2018_v4.csv
Data_Preprocessing/.ipynb_checkpoints/generate_geo_distribution-checkpoint.ipynb
*.json
*.json
Data_Preprocessing/geoid_for_grid3200.json
Data_Preprocessing/.ipynb_checkpoints/generate_geo_distribution-checkpoint.ipynb
Data_Preprocessing/Input_Data/grid_info_multiple.json
Data_Preprocessing/Input_Data/grid_info_smaller.json
Data_Preprocessing/Input_Data/grid_info_smaller_2018.json
Data_Preprocessing/Input_Data/grid_info_smaller_2018_fips.json
Data_Preprocessing/Input_Data/grid_info_smaller_scaled.json
AmbulanceDeployment.jl-legacy/Manifest.toml
AmbulanceDeployment.jl-legacy/Project.toml
.idea/misc.xml
AmbulanceDeployment.jl-legacy/Manifest.toml
AmbulanceDeployment.jl-legacy/test/austin_data/Austin_Data_big/team_stats.jld
AmbulanceDeployment.jl-legacy/Manifest.toml
AmbulanceDeployment.jl-legacy/Project.toml
AmbulanceDeployment.jl-legacy/test/.ipynb_checkpoints/closestSimulation-checkpoint.ipynb
